:root {
    --btn-width-100: 100px;
    --color-nav-icon: #606266;
    --color-nav-hover: #F2F2F2;
    --color-nav-click: #0866FF;
    --bg-white-nav: #D8DADF;
    --bg-nav: #FFFFFF;
    --bg-nav-right-click: #bad8f2;
    --bg-active-online: #31A24C;
}
/* =================Main-profile-user================== */
section.Main-profile-user{

}
.Main-user-user-1{
    position: relative;
    /* background: #000; */
}
.Main-user-user-Img{
    width: 71%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(240, 242, 245) 60%,rgb(147, 148, 150) 150%);
    margin: auto;
    position: relative;
    border-radius: 0px 0 8px 8px;

}
.main-Pro-Img-user{
    /* background: #000; */
    min-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main-Pro-Img-user img{
    min-width: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.main-Pro-Img-user-upload{
    position: absolute;
    right: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    bottom: 1.2rem;;
}
.main-Pro-Img-user-upload-photo{
    z-index: 9;
    background: var(--color-nav-icon);
    display: flex;
    gap: 0.5rem;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    color: var(--bg-nav) !important;
    transition: background 0.5s;
    cursor: pointer;
}
.main-Pro-Img-user-upload-photo:hover{
    background: #767a82;
}
.main-Pro-Img-user-upload-photo-1 i {
    color: white !important;
}
.main-Pro-Img-user-upload-photo span{
    font-weight: bold;
}


/* Main-user-user-Info */

.Main-user-user-Info{
    position: relative;
    bottom: 4.5rem;
    width: 66.8%;
    margin: auto;
    /* background: red; */
}
.Profile-user{
    position: relative;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: #31A24C;
    outline: #FFFFFF 3px solid;
}
.Profile-user-upload-1 i{
    position: absolute;
    padding: 8px;
    background-color: var(--bg-white-nav);
    border-radius: 50%;
    bottom: 0.5rem;
    left: 7.8rem;
    cursor: pointer;
    font-size: 18px;
}
.Profile-user img{
    width: 170px;
    height: 170px;
}

.Main-user-user-Info-content{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    /* padding-right: 15px; */
}
.Main-user-user-Info-content .btn_3{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.btn_3 .group-btn{
    padding: 6px 20px 6px 20px;
    background-color: #0861F2;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}
.btn_3 .group-btn:hover{
    background: #136cfb;
}
.btn_3 .group-btn#bg_white{
    background-color: var(--bg-white-nav);
    font-weight: 600;
    transition: background 0.3s;
}
.btn_3 .group-btn#bg_white:hover{
    background: #cbcdd3;
}

/* ==============on profile=============== */
.content-on-profile .group-btn{
    padding: 9px;
    background-color: var(--bg-white-nav);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}
.content-on-profile-text{
    display: flex;
    /* gap: 1.5rem; */
    font-size: 16px;
    font-weight: 600;
    color: var(--color-nav-icon);
}
.content-on-profile-text span{
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    transition: background 0.3s;
    border-radius: 5px;
}
.content-on-profile-text span:hover{
    background: #f0f0f0;
}
.content-on-profile .group-btn:hover{
    background: #cbcdd3;
}


/* Main-sub-content-on-profile */
.sub-content-on-profile-data{
    background: #F0F2F5;
    width: 100%;
    position: relative;
    bottom: 60px;
}
.Main-user-user-Info{
    position: relative;
    bottom: 4.5rem;
    width: 66.8%;
    margin: auto;
    /* background: red; */
}
.Main-sub-content-on-profile{
    position: relative;
    width: 66.8%;
    margin: auto;
}
.Main-sub-content-on-profile-1{
    padding-top: 18px;
    /* padding-bottom: 18px; */
    display: flex;
    gap: 1rem;
}

/* on-profile-left */
.on-profile-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

/* Intro */
.sub-content-on-profile-Intro{
    background: var(--bg-nav);
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 7px;
}
.sub-content-on-profile-Intro .group-intro{
    font-weight: 600;
    background: var(--bg-white-nav);
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
}
.sub-content-on-profile-Intro .group-intro:hover{
    background: #cbcdd3;
}

/* Photos */
.sub-content-on-profile-Photos{
    background: var(--bg-nav);
    padding: 18px;
    border-radius: 7px;
}

/* Friend */
.sub-content-on-profile-Friends{
    background: var(--bg-nav);
    padding: 18px;
    border-radius: 7px;
}



/* on-profile-right */
.on-profile-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

/* createPost */
.sub-content-on-profile-createPost{
    background: var(--bg-nav);
    padding: 18px 18px 8px 18px;
    border-radius: 7px;
}
.sub-content-on-profile-createPost-1 .group-Post{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 7px 26.8px 7px 26.8px;
    transition: background 0.3s;
    border-radius: 5px;
    cursor: pointer;
}
.sub-content-on-profile-createPost-1 .group-Post:hover{
    background: #cbcdd3;
}

/* Setting-Posts */
.sub-content-on-profile-Setting-Posts{
    background: var(--bg-nav);
    padding: 18px 18px 0px 18px;
    border-radius: 7px;
}
.sub-content-on-profile-Setting-Posts .Setting-Posts{
    display: flex;
    align-items: center;
    background: var(--bg-white-nav);
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
    gap: 0.4rem;
    transition: background 0.3s;
    cursor: pointer;
}
.sub-content-on-profile-Setting-Posts .Setting-Posts:hover{
    background: #cbcdd3;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr{
    display: flex;
    position: relative;
    bottom: 7px;
    justify-content: space-around;
    gap: 1rem;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr-group{
    padding: 6px 88px 6px 88px;
    display: flex;
    gap: 0.4rem;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr-group:hover{
    background: var(--bg-white-nav);
}


/* All Post */
.sub-content-on-profile-All-Posts{
    background: var(--bg-nav);
    padding: 18px 18px 8px 18px;
    border-radius: 7px;
}
.name_detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}
.name_detail_left{
    position: relative;
}
.name_detail_left span{
    font-size: 13px;
    bottom: 10px;
    position: relative;
}
.name_detail_right .name_detail_right-btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}
.name_detail_right .name_detail_right-btn:hover{
    background: var(--bg-white-nav);
}
/* End Main-sub-content-on-profile */
/* *****************End Main-profile-user****************** */
