:root {
    --btn-width-100: 100px;
    --color-nav-icon: #606266;
    --color-nav-hover: #F2F2F2;
    --color-nav-click: #0866FF;
    --bg-white-nav: #D8DADF;
    --bg-nav: #FFFFFF;
    --bg-nav-right-click: #bad8f2;
    --bg-active-online: #31A24C;
}
/* =================Main-profile-user================== */

.Main-user-user-1{
    position: relative;
}
.Main-user-user-Img{
    width: 71%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(240, 242, 245) 60%,rgb(147, 148, 150) 150%);
    margin: auto;
    position: relative;
    border-radius: 0px 0 8px 8px;
}
.main-Pro-Img-user{
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.main-Pro-Img-user img{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 0 0 8px 8px;
}

.main-Pro-Img-user-upload{
    position: absolute;
    right: 2rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    bottom: 1.2rem;
}
.main-Pro-Img-user-upload-photo{
    z-index: 9;
    background: var(--color-nav-icon);
    display: flex;
    gap: 0.5rem;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    color: var(--bg-nav) !important;
    transition: background 0.5s;
    cursor: pointer;
}
.main-Pro-Img-user-upload-photo:hover{
    background: #767a82;
}
.main-Pro-Img-user-upload-photo-1 i {
    color: white !important;
}
.main-Pro-Img-user-upload-photo span{
    font-weight: bold;
}


/* Main-user-user-Info */
.Main-user-user-Info{
    position: absolute;
    top: -4.5rem;
    width: 66.8%;
    margin: auto;
    padding-bottom: 10px;
    /* display: none; */
}
.Profile-user{
    position: relative;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: #606266;
    outline: #FFFFFF 3px solid;
}
.Profile-user-upload-1 i{
    position: absolute;
    padding: 8px;
    background-color: var(--bg-white-nav);
    border-radius: 50%;
    bottom: 0.5rem;
    left: 7.8rem;
    cursor: pointer;
    font-size: 18px;
}

.Main-user-user-Info-content{
    display: flex;
    margin-top: 6rem;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
}
.Main-user-user-Info-content .btn_3{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.btn_3 .group-btn-tow{
    display: flex;
    gap: 0.5rem;
}
.btn_3 .group-btn{
    padding: 6px 20px 6px 20px;
    background-color: #0861F2;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    white-space: nowrap;
}
.btn_3 .group-btn:hover{
    background: #136cfb;
}
.btn_3 .group-btn#bg_white{
    background-color: var(--bg-white-nav);
    font-weight: 600;
    transition: background 0.3s;
}
.btn_3 .group-btn#bg_white:hover{
    background: #cbcdd3;
}

/* ==============on profile=============== */
.content-on-profile .group-btn{
    padding: 9px;
    background-color: var(--bg-white-nav);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
}
.content-on-profile-text{
    display: flex;
    /* gap: 1.5rem; */
    font-size: 16px;
    font-weight: 600;
    color: var(--color-nav-icon);
    white-space: nowrap;
}
.content-on-profile-text span{
    cursor: pointer;
    padding: 8px 20px 8px 20px;
    transition: background 0.3s;
    border-radius: 5px;
}
.content-on-profile-text span:hover{
    background: #f0f0f0;
}
.content-on-profile .group-btn:hover{
    background: #cbcdd3;
}


/* Main-sub-content-on-profile */
.sub-content-on-profile-data{
    background: #F0F2F5;
    width: 100%;
    position: absolute;
    top: 37.3rem;
}
.Main-user-user-Info{
    position: relative;
    bottom: 4.5rem;
    width: 66.8%;
    margin: auto;
}
.sub-user-user-Info{
    display: flex;
}
.Main-sub-content-on-profile{
    position: relative;
    width: 66.8%;
    margin: auto;
}
.Main-sub-content-on-profile-1{
    padding-top: 18px;
    display: flex;
    gap: 1rem;
    /* background: #31A24C; */
}

/* on-profile-left */
.on-profile-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

/* Intro */
.sub-content-on-profile-Intro{
    background: var(--bg-nav);
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 7px;
}
.sub-content-on-profile-Intro .group-intro{
    font-weight: 600;
    background: var(--bg-white-nav);
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background 0.2s;
    cursor: pointer;
}
.sub-content-on-profile-Intro .group-intro:hover{
    background: #cbcdd3;
}

/* Photos */
.sub-content-on-profile-Photos{
    background: var(--bg-nav);
    padding: 18px;
    border-radius: 7px;
}

/* Friend */
.sub-content-on-profile-Friends{
    background: var(--bg-nav);
    padding: 18px;
    border-radius: 7px;
}



/* on-profile-right */
.on-profile-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

/* createPost */
.sub-content-on-profile-createPost{
    background: var(--bg-nav);
    padding: 18px 18px 8px 18px;
    border-radius: 7px;
}
.sub-content-on-profile-createPost-1-post{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sub-content-on-profile-createPost-1-post .group-Post{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 7px 26.8px 7px 26.8px;
    transition: background 0.3s;
    border-radius: 5px;
    cursor: pointer;
}
.sub-content-on-profile-createPost-1-post .group-Post:hover{
    background: #cbcdd3;
}

/* Setting-Posts */
.sub-content-on-profile-Setting-Posts{
    background: var(--bg-nav);
    padding: 18px 18px 0px 18px;
    border-radius: 7px;
}
.sub-content-on-profile-Setting-Posts .Setting-Posts{
    display: flex;
    align-items: center;
    background: var(--bg-white-nav);
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
    gap: 0.4rem;
    transition: background 0.3s;
    cursor: pointer;
}
.sub-content-on-profile-Setting-Posts .Setting-Posts:hover{
    background: #cbcdd3;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr{
    display: flex;
    position: relative;
    bottom: 7px;
    justify-content: space-around;
    gap: 1rem;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr-group{
    padding: 6px 88px 6px 88px;
    display: flex;
    gap: 0.4rem;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.sub-content-on-profile-Setting-Posts .Setting_Post_on_hr-group:hover{
    background: var(--bg-white-nav);
}


/* All Post */
.sub-content-on-profile-All-Posts{
    background: var(--bg-nav);
    padding: 18px 18px 0px 18px;
    border-radius: 7px;
}
.name_detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
}
.name_detail_left{
    position: relative;
}
.name_detail_left span{
    font-size: 13px;
    bottom: 10px;
    position: relative;
}
.name_detail_right .name_detail_right-btn{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}
.name_detail_right .name_detail_right-btn:hover{
    background: var(--bg-white-nav);
}
.main-group-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-group-social .group-social{
    display: flex;
    gap: 0.5rem;
    transition: background 0.2s;
    padding: 5px 50px 5px 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
.main-group-social .group-social:hover{
    background: var(--bg-white-nav);
}
.Main-Social-post_PRO img{
    width: 100%; height: 250px; border-radius: 3px;
}


/* main-comment-on-post */
.main-comment-on-post{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 9px;
}
.comment-on-post{
    display: flex;
    align-items: center;
    width: 100%;
}
.comment-on-post-2{
    background: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    padding: 2px 5px 2px 5px;
    border-radius: 40px;
    cursor: pointer;
}
.comment-on-post-2 textarea{
    outline: none;
    border: none;
    padding-left: 10px;
    background: none;
}
.comment-on-post-2 .comment-on-post-2-icon{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: background 0.2s;
    border-radius: 50%;
    justify-content: center;
}
.comment-on-post-2 .comment-on-post-2-icon:hover{
    background: #cbcdd3;
}
.comment-on-post-2-send{
    display: none;
}
/* tooltips */
.icons-container{
    visibility: hidden;
    position: absolute;
    bottom: 2.5rem; left: 0;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 40px;
    display: flex;
    gap: 0.5rem;
    transition: visibility 2s ease;
}
.icons-container img {
    height: 30px;
    transition: transform 0.3s; /* Adjust the duration as needed */
}

.icons-container img:hover {
    transform: scale(1.2); /* Adjust the scale factor as needed */
}
#hover_show_reach:hover .icons-container{
    visibility: visible;
}
/* End Main-sub-content-on-profile */


/* POP UP PHOTO/VIDEO */
.Main_Select_image{
    padding: 5px;
    border: #F2F2F2 2px solid;
    border-radius: 5px;
}
.Select_image{
    position: relative;
    background: #F2F2F2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    transition: background 0.3s;
    cursor: pointer;
    overflow: hidden;
}
.Select_image:hover{
    background: #cbcdd3;
}
.logo_upload_video_image{
    background: var(--bg-white-nav);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.clear_video_image{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: var(--bg-nav);
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.d-none{
    display: none;
}
/* End POP UP PHOTO/VIDEO */

/* UPLOAD IMAGE PROFILE */
.main-show-image-upload {
    position: relative;
}
.show-image-upload {
    position: relative;
    overflow: hidden;
}
.show-image-upload img:active {
    cursor: grabbing; /* Change cursor on hold */
}
.show-image-upload img {
    width: 100%;
    height: 250px;
    border-radius: 3px;
}
.show-image-upload::before {
    content: "";
    position: absolute;
    background: none;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    cursor: grab;
}
.main-resize-controls-line .sub-resize-controls-line{
    width: 100%;
    background: #CED0D4;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.resize-controls-line {
    content: '';
    position: absolute;
    bottom: 8px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #cbcdd3;
    background: #FFFFFF;
    transition: display 0.3s ease;
}
/* END UPLOAD IMAGE PROFILE */
/* *****************End Main-profile-user****************** */


/* ======================Custom responsive Content =================== */
@media (max-width: 992px) {
    /* cover */
    .sub-content-on-profile-data{
        top: 45rem;
        width: 100%;
    }
    .Main-user-user-Img{
        width: 100%;
    }
    .main-Pro-Img-user-upload-photo-1 i{
        position: relative;
        left: 4.5px;
    }
    .main-Pro-Img-user-upload-photo_span span{
        display: none;
        text-align: center;
    }
    .Main-user-user-Info{
        width: 100%;
    }
    /* end cover */


    /* Profile */
    .Profile-user{
        margin: auto;
    }
    .Main-user-user-Info{
        top: -4.5rem;
        margin: auto;
        padding-bottom: 10px;
        width: 95%;
    }
    .sub-user-user-Info{
        display: block;
        margin: auto;
    }
    .Main-user-user-Info-content{
        display: block;
        align-items: center;
        /* background: #000; */
        margin-top: 1rem;
        padding-left: 0px;
    }
    .Main-user-user-Info-content-text{
        text-align: center;
    }


    /* content-on-profile */

    /* left */
    .on-profile-left{
        width: 100%;
        /* display: none; */
    }
    .sub-content-on-profile-Friends{
        padding: 18px 10px 18px 10px;
    }
    .sub-content-on-profile-Photos{
        padding: 18px 10px 18px 10px;
    }
    .sub-content-on-profile-Intro{
        padding: 15px 10px 18px 10px;
    }
    /* end left */


    /* right */
    .on-profile-right{
        width: 100%;
        /* display: none; */
    }
    .sub-content-on-profile-createPost{
        padding: 18px 10px 18px 10px;
    }
    .sub-content-on-profile-Setting-Posts{
        padding: 18px 10px 0px 10px;
    }
    .sub-content-on-profile-All-Posts{
        padding: 15px 10px 0px 10px;
    }
    /* end right */

    .Main-sub-content-on-profile{
        width: 95%;
    }
    .Main-sub-content-on-profile-1{
        display: block;
        /* grid-row: 1; */
    }
    .sub-content-on-profile-createPost-1-post{
        gap: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sub-content-on-profile-createPost-1-post .group-Post{
        padding: 7px 5px 7px 5px;
        white-space: nowrap;
        gap: 0.3rem;
        font-size: 14px;
    }
    .sub-content-on-profile-createPost-1-post .group-Post img{
        height: 18px;
        width: 18px;
    }
    .sub-content-on-profile-createPost-1-post .group-Post img#live-video{
        position: relative;
        bottom: 1.5px;
    }
    .main-group-social .group-social{
        padding: 7px 0px 7px 0px;
    }
    .sub-content-on-profile-Setting-Posts .Setting_Post_on_hr{
        display: flex;
        justify-content: space-between;
    }
    .sub-content-on-profile-Setting-Posts .Setting_Post_on_hr-group{
        padding: 6px 5px 6px 5px;
    }
    /* end content-on-profile */
}
@media (max-width: 500px){
    /* cover */
    .sub-content-on-profile-data{
        top: 34rem;
        width: 100%;
    }
    .Main-user-user-Img{
        height: 170px;
        width: 95%;
    }
    .main-Pro-Img-user img{
        height: 170px;
        width: 95%;
    }
    /* end cover */

    /* profile */
    .Main-user-user-Info-content .btn_3{
        display: block;
        padding-bottom: 5px;
    }
    .btn_3 .group-btn{
        margin-bottom: 10px;
        text-align: center;
    }
    .btn_3 .group-btn-tow{
        width: 100%;
    }
    .content-on-profile-hide{
        display: none;
    }
    /* end profile */


    /* on profile */
    .Main-Social-post_PRO img{
        height: 200px;
    }
    /* end on profile */
}
/* ======================End Custom responsive Content =================== */
